@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
@import url("https://fonts.googleapis.com/css?family=Cute+Font&display=swap");
html,
body {
  @apply w-full h-[100vw] m-0;
}
body {
  @apply text-[#333] overflow-hidden;
  font-family: "Cute Font", cursive;
  background: #3c3c3c;
}
* {
  @apply box-border m-0 p-0;
  -webkit-box-sizing: border-box;
}
*:before,
*:after {
  @apply content-[""] absolute;
}
.container {
  @apply m-auto;
}
.album {
  @apply transition-[2s] duration-1000 w-[600px] h-[700px] cursor-pointer relative m-auto scale-50;
  transform-style: preserve-3d;
}
.txt-daniel {
  @apply absolute text-[rgb(78,78,78)] z-[100] text-[5rem] left-[35%] top-[65%];
}
.album--open {
  transform: translate(65px, 0) rotateX(35deg) rotateY(0deg) rotateZ(35deg)
    scale(0.5);
}
.album__paper {
  @apply absolute w-full h-full transition-[2s] origin-[0_50%] left-0 top-0;
  transform-style: preserve-3d;
}
.album__paper:not(.first) .album__page {
  @apply bg-[100%_1.5em];
  background: #f1f0f0;
}
.album__paper:not(.first) .back {
  background: #d4d3d3;
}
.album__paper:nth-of-type(1) .back {
  background: #0095a3;
}
.album__paper:nth-of-type(1) .album__page {
  background: #0095a3;
}
.album__paper.open {
  @apply shadow-[0_1em_0_0_#aaa];
  transform: rotateX(0) rotateY(-180deg) rotateZ(0);
}
.album__paper .album__page.front {
  @apply transition-[2s] origin-[0_50%] z-[2];
  -webkit-transition: 2s;
  -webkit-transform-origin: 0 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.album__paper .back {
  @apply transition-[2s] origin-[0_50%];
  -webkit-transition: 2s;
  -webkit-transform-origin: 0 50%;
  background: #e1e1e1;
}
.album__top-title {
  @apply text-[100px] leading-[0.8] p-5;
}
.album__page {
  @apply w-full h-full absolute;
  transform: translateZ(0px);
}
.album__back {
  @apply w-[3em] h-[700px] absolute left-[-3em] origin-[100%_100%] top-0;
  background: #007e8a;
  -webkit-transform-origin: 100% 100%;
  transform: rotateY(-90deg) rotateX(0deg);
  -webkit-transform: rotateY(-90deg) rotateX(0deg);
}
.album__shadow {
  @apply absolute w-[600px] h-[700px] shadow-[1em_1em_0px_0px_#aaa] z-[1] left-0 top-0;
  background: transparent;
  transform: translateZ(-3em);
  -webkit-transform: translateZ(-3em);
}
.album__bottom {
  @apply absolute w-[600px] h-[3em] origin-[100%_100%] left-0 bottom-0;
  background: #d4d3d3;
  -webkit-transform-origin: 100% 100%;
  transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
}
.cat-mark {
  @apply relative w-[200px] h-[170px] mt-[150px] mb-auto mx-auto rounded-[60%_60%_90px_90px] before:rotate-[32deg] before:-right-5 after:rotate-[-32deg] after:-left-5;
  background: #333;
}
.cat-mark:before,
.cat-mark:after {
  @apply top-[-25px] w-0 h-0 rounded-[33px] border-b-[80px] border-b-[#333] border-x-[50px] border-x-transparent border-solid;
}
.cat-mark:before {
  -webkit-transform: rotate(32deg);
}
.cat-mark:after {
  -webkit-transform: rotate(-32deg);
}
.top-content {
  @apply flex h-full;
  flex-flow: column;
}
.content {
  @apply grid grid-cols-[50%_50%] grid-rows-[100px_auto] h-full;
}
.content__title {
  @apply row-[1] col-[1/3] text-[100px] leading-[0.8] box-border p-5;
}
.content__img1 {
  @apply row-[2/4] col-[1/2] flex items-center box-border;
  flex-flow: column;
}
.content__img1 img {
  @apply w-[90%] box-border m-auto border-[10px] border-solid border-white;
}
.content__img2 {
  @apply row-[3/4] col-[2/4] flex items-center box-border;
}
.content__img2 img {
  @apply w-4/5 box-border m-auto border-[10px] border-solid border-white;
}
.content__img3 {
  @apply row-[2] col-[2] flex items-center box-border;
}
.content__img3 img {
  @apply w-3/5 box-border m-auto border-[10px] border-solid border-white;
}
.content__text {
  @apply w-full text-3xl box-border p-[30px];
}
@media screen and (max-width: 768px) {
  body {
    @apply overflow-visible;
  }
}
